.carousel-caption {
    margin-bottom: 3%;
}

li {
    list-style: none;
}

.progress {
    margin-bottom: 3%;
}

.container-fluid {
    border-radius: 5px;
    border: black solid 1px;
    margin-bottom: 5%;
}

figcaption {
    margin-top: 5px;
}

h2 {
    margin-top: 4%;
}