.carousel-caption {
    margin-bottom: 3%;
}

.infos-persos {
    text-align: left;
}

li {
    list-style: none;
}

.progress {
    margin-bottom: 3%;
}

.central {
    background-color: lightslategray;
}

.container-fluid {
    border-radius: 5px;
    border: black solid 1px;
    margin-bottom: 5%;
}

.lieu {
    text-align: right;
    text-decoration-color: darkgray;
}

.chartjs-render-monitor {
    height: 20%;
}

.badge {
    white-space: normal;
}

h2 {
    margin-top: 5%;
}

figcaption {
    margin-top: 5px;
}