.infos-persos {
    text-align: left;
    /* vertical-align: middle; */
}

li {
    list-style: none;
}

.container-fluid {
    border-radius: 5px;
    border: black solid 1px;
    margin-bottom: 5%;
}

.chartjs-render-monitor {
    height: 20%;
}

.badge {
    white-space: normal;
}

h2 {
    margin-top: 5%;
}

figcaption {
    margin-top: 5px;
}

#portrait {
    border-radius: 25px;
    margin-bottom: 5px;
    vertical-align: middle;
}
